GEMINI_API_KEY="gemini-api-key"
ASTRA_DB_APPLICATION_TOKEN="astra-db-database-token"
ASTRA_DB_API_ENDPOINT="https://your-db-endpoint"
GROQ_API_KEY="groq-api-key"
OLLAMA_BASE_URL="ollama-host-url"
API_KEY="backend-api-key"
